.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore
*.p12
*.p8
*.pfx
*.mobileprovision
*.key
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
